
<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">A</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">B <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">C</a></li>

    <li class="page-item"><a class="page-link" href="#">B</a></li>
    <li class="page-item"><a class="page-link" href="#">C</a></li>
    <li class="page-item"><a class="page-link" href="#">D</a></li>
    <li class="page-item"><a class="page-link" href="#">E</a></li>
    <li class="page-item"><a class="page-link" href="#">F</a></li>
    <li class="page-item"><a class="page-link" href="#">G</a></li>
    <li class="page-item"><a class="page-link" href="#">H</a></li>
    <li class="page-item"><a class="page-link" href="#">I</a></li>
    <li class="page-item"><a class="page-link" href="#">J</a></li>
    <li class="page-item"><a class="page-link" href="#">K</a></li>
    <li class="page-item"><a class="page-link" href="#">L</a></li>
    <li class="page-item"><a class="page-link" href="#">M</a></li>
    <li class="page-item"><a class="page-link" href="#">N</a></li>
    <li class="page-item"><a class="page-link" href="#">O</a></li>
    <li class="page-item"><a class="page-link" href="#">P</a></li>
    <li class="page-item"><a class="page-link" href="#">Q</a></li>
    <li class="page-item"><a class="page-link" href="#">R</a></li>
    <li class="page-item"><a class="page-link" href="#">S</a></li>
    <li class="page-item"><a class="page-link" href="#">T</a></li>
    <li class="page-item"><a class="page-link" href="#">U</a></li>
    <li class="page-item"><a class="page-link" href="#">V</a></li>
    <li class="page-item"><a class="page-link" href="#">W</a></li>
    <li class="page-item"><a class="page-link" href="#">X</a></li>
    <li class="page-item"><a class="page-link" href="#">Y</a></li>
    <li class="page-item"><a class="page-link" href="#">Z</a></li>

    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>




<div class="container-fluid ">


  
<!--primera linea-->
      <div class="row mt-5">



          <div class="col-md-4">


            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="https://media.npr.org/assets/img/2011/07/06/dragons_custom-22fe9239df021369ad6e115282dfc9a23fbc7466-s800-c85.jpeg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">A DANCE WITH DRAGONS</h5>
                    <p class="card-text"><small class="text-muted">Author: George R. Martin</small></p>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium sit quia minima accusamus ipsum, omnis sunt vero alias possimus aperiam! Asperiores expedita unde eveniet maxime, veritatis assumenda alias reiciendis doloribus.</p>
                  </div>
                </div>
              </div>
            </div>


          </div>


        
          <div class="col-md-4">


            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="https://nerdist.com/wp-content/uploads/2020/07/the-Winds-of-Winter-cover.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">THE WINDS OF WINTER</h5>
                    <p class="card-text"><small class="text-muted">Author: George R. Martin</small></p>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium sit quia minima accusamus ipsum, omnis sunt vero alias possimus aperiam! Asperiores expedita unde eveniet maxime, veritatis assumenda alias reiciendis doloribus.</p>
                  </div>
                </div>
              </div>
            </div>


          </div>


          

          <div class="col-md-4">


            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="https://cnet3.cbsistatic.com/img/O6YGKQJOP59U9FUO0E8G5SPMLVo=/940x0/2018/04/25/a369218a-fd60-440f-a786-78f545f2736f/fireandblood.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">A DANCE WITH DRAGONS</h5>
                    <p class="card-text"><small class="text-muted">Author: George R. Martin</small></p>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium sit quia minima accusamus ipsum, omnis sunt vero alias possimus aperiam! Asperiores expedita unde eveniet maxime, veritatis assumenda alias reiciendis doloribus.</p>
                  </div>
                </div>
              </div>
            </div>


          </div>



      </div>
<!--fin linea-->


  
<!--primera linea-->
<div class="row mt-5">



  <div class="col-md-4">


    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://cdn.waterstones.com/bookjackets/large/9780/0074/9780007447831.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">A DANCE WITH DRAGONS</h5>
            <p class="card-text"><small class="text-muted">Author: George R. Martin</small></p>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium sit quia minima accusamus ipsum, omnis sunt vero alias possimus aperiam! Asperiores expedita unde eveniet maxime, veritatis assumenda alias reiciendis doloribus.</p>
          </div>
        </div>
      </div>
    </div>


  </div>



  <div class="col-md-4">


    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://m.media-amazon.com/images/I/519Nw0Uw+jL.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">THE WINDS OF WINTER</h5>
            <p class="card-text"><small class="text-muted">Author: George R. Martin</small></p>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium sit quia minima accusamus ipsum, omnis sunt vero alias possimus aperiam! Asperiores expedita unde eveniet maxime, veritatis assumenda alias reiciendis doloribus.</p>
          </div>
        </div>
      </div>
    </div>


  </div>


  

  <div class="col-md-4">


    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1354567206l/147915.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">A DANCE WITH DRAGONS</h5>
            <p class="card-text"><small class="text-muted">Author: George R. Martin</small></p>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium sit quia minima accusamus ipsum, omnis sunt vero alias possimus aperiam! Asperiores expedita unde eveniet maxime, veritatis assumenda alias reiciendis doloribus.</p>
          </div>
        </div>
      </div>
    </div>


  </div>



</div>
<!--fin linea-->




  
<!--primera linea-->
<div class="row mt-5">



  <div class="col-md-4">


    <div class="card mb-3" style="max-width: 540px; ">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://www.pulsiondigital.com/wp-content/uploads/2019/11/Robert-Kiyosaki-Padre-rico-padre-pobre.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">A DANCE WITH DRAGONS</h5>
            <p class="card-text"><small class="text-muted">Author: George R. Martin</small></p>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium sit quia minima accusamus ipsum, omnis sunt vero alias possimus aperiam! Asperiores expedita unde eveniet maxime, veritatis assumenda alias reiciendis doloribus.</p>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div class="col-md-4">


    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://descubierta.es/wp-content/uploads/2019/03/portada-libro-ilustrada-asuntoshonor.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">THE WINDS OF WINTER</h5>
            <p class="card-text"><small class="text-muted">Author: George R. Martin</small></p>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium sit quia minima accusamus ipsum, omnis sunt vero alias possimus aperiam! Asperiores expedita unde eveniet maxime, veritatis assumenda alias reiciendis doloribus.</p>
          </div>
        </div>
      </div>
    </div>


  </div>


  

  <div class="col-md-4">


    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://static.megustaleer.com.ar/images/libros_650_x/EGR51716.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">A DANCE WITH DRAGONS</h5>
            <p class="card-text"><small class="text-muted">Author: George R. Martin</small></p>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium sit quia minima accusamus ipsum, omnis sunt vero alias possimus aperiam! Asperiores expedita unde eveniet maxime, veritatis assumenda alias reiciendis doloribus.</p>
          </div>
        </div>
      </div>
    </div>


  </div>



</div>
<!--fin linea-->


  


</div>







