

<div class="container-fluid mimargen mt-5  " >

<div class="container" >

  <div class="row bordesdellogin  bg-light w-50 m-auto " >

  

    <div class="col-md-12 p-5 ">

        
      
      <form class="px-5 " >
        
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tu email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Tu contraseña">
        </div>
        
        
        <button type="submit" class="btn btn-outline-warning  btn-block">Iniciar sesión</button>
        <small id="emailHelp" class="form-text text-muted">¿Aún no tienes cuenta?</small> 
        <button type="submit" class="btn btn-warning micssboton btn-block  " [routerLink]="['registro']">Regístrate</button>
      </form>
    

    </div>

   

  </div>

</div>


</div>