.imagen-usuario{

    border-radius: 100%;

}

.itemCerrar{
    
    cursor: pointer !important;
}


.itemCerrar:hover{
    
    background-color: rgb(202, 53, 148);
    color:whitesmoke;
}


.itemCerrar2:hover{
    background-color: rgb(228, 182, 0);
   
}


.mistilo{
    color: whitesmoke;
}



.mio{
    background-color: rgb(255, 193, 7);

}



.custombuttom{

    border: none;
    color: rgb(208, 208, 208);
    box-shadow: inset 0 0px 0px rgba(240, 26, 26, 0.085), 0 0 0px rgb(41, 43, 44)
}


.cursom2{
    border-radius: 7px;
    margin-left: 0px !important;
    color: rgb(58, 57, 57);
    
    
}

